* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 6px 5px -5px rgb(0 0 0 / 10%);
    z-index: 100;
}

body, body * {
    font-family: cursive;
}

.header {
    display: flex;    
}
.header {
    position: sticky;
    top: 0px;
}

.input-search{
    border: 20px solid rgb(216, 215, 215);
}

.header .right-side, .header .center, .header .left-side {
    display: flex;
    align-items: center;
}

.right-side {
    justify-content: flex-end;
}

.user-layout-sidebar{
    position: fixed;
    top: 70px;
    left: 0px;
    height: 100%;
    width: 17%;
}

.user-layout-sidebar {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    z-index: 130;
    overflow-y: auto;    
    background-color: #f0d6f0;
}

.cabinet-sidenav {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}

.user-layout-content {
    position: relative;
    width: calc(100% - 17%);
    height: calc(100vh - 70px);
    left: 17%;
    margin-top: 7px;
    overflow-y: auto;
}

.user-layout-content-main {
    min-height: calc(100% - 70px);
}

.user-layout {    
    display: flex;
}

.user-layout-content-footer{ 
    width: -webkit-fill-available;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#logo {
    user-select: none;
    text-decoration: none;
}
.w-30 {
    width: 30%;
}
.color-pink {
    color: #f76eeb;
}

#input-search{
    width: 250px;
    display: flex;
}

#profile {
    position: relative;
    display: flex;
    padding: 10px;
    margin-left: 15px;
}

.icon-xl, .icon-xxl {
    display: block;
    padding: .1em;
}

.icon-xl {
    font-size: x-large;
}

.icon-xxl {
    font-size: xx-large;
}

#profile .dropdownMenu {
    padding: 15px;
    top: 35px;
    left: -60px;
}

#profile:hover .dropdownMenu {
    display: block;
}

.dropdownMenu {
    border-radius: 10px;
    padding: 10px;
    background-color: lightblue;
    font-size: 16px;
    z-index: 99;
    position: absolute;
    display: none;
    top: calc(100% + 10px);
    width: fit-content;
}
.dropdownMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdownMenu ul li {
    padding: 5px 3px;
    border-radius: 5px;
}
.dropdownMenu ul li:hover {
    background-color: rgba(145, 188, 202, .4);
}

.dropdownMenu ul li a {
    text-decoration: none;
    color: inherit;
}

.side-panel{
    height: calc(100% - 220px);
    overflow-y: auto;
}

.information-block{
    position: fixed;
    bottom: 0;
    border-top: 1px solid white;
    width: 17%;
    height: 150px;
}

.information-block-inner{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;    
    font-size: 20px;
    height: 130px;
    background-color: #f3cceb;
}

.information-block-inner-iconsGroup{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-evenly;
}

.information-block-inner-iconsGroup a{
    color: inherit;
}

.information-block-inner-title ::selection, .user-layout-content-footer ::selection{
    background-color:white;
    color: #f76eeb;
}

.side-panel-userList{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 7px 5px 15px;
    width: 100%;
    cursor: pointer;
}

.user-left-side, .user-right-side{
    display: flex;
    flex-direction: row;
    align-items: center;  
    width: 50%;
}

.user-left-side{
    justify-content: space-around;
}

.user-right-side{
    justify-content: flex-end;
}

.fa-telegram:hover{
    color: #2AA1DD;
}

.fa-facebook:hover{
    color: #3968AA;
}

.fa-youtube-play:hover{
    color: #FF0000;
    cursor: pointer;
}

.change-color-gray:hover{
    color: rgb(100, 98, 98);
}

.color-danger {
    color: #CA0B00;
}

.user:hover{
    background-color: #f3cceb;
}

.userName:hover{
    color: rgb(104, 184, 211);
}

.user img {
    border-radius: 50%;
    border: 2px solid white;
}

.indicator {
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid red;
    margin-right: 10px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}


.categories-panel{    
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 1em;
    margin-left: 10px;
    height: 65px;
    overflow-x: auto;
}

.categories-panel::-webkit-scrollbar {
    width: 0;
    margin: 0;
}

.categories-panel a {
    display: block;
    padding: .35em .7em;
    text-decoration: none;
    color: unset;
    background-color: #f3cceb;
    border-radius: 1.5em;
    text-align: center;
}

.categories-panel a:hover{
    background-color: rgba(145, 188, 202, .4);
}

.active-option-button {
    background: #f76eeb !important;
    color: white !important;
    border-radius: 50%;
}

#carousel {
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(175, 47, 47, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(231, 108, 108, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(231, 97, 97, 0);
	}
}

