
.video-section-block{
    padding: 0 10px 0 10px;
    margin-top: 15px;
}

.video-list{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    column-gap: 1%;
    justify-content: space-around;
}

.video-block {
    padding: .5em;
    max-width: 300px;
}

.video-block-about {
    display: flex;
    justify-content: space-between;
}

.video-block-about:hover{
    cursor: pointer;
}

.video-caption span:first-child:hover{
    color: #f76eeb;
}

.video-author-name:hover{
    color: rgb(104, 184, 211);
}

.fa-ellipsis-v:hover{
    color: rgb(100, 98, 98);
}

.video-block-about-left-side {
    max-width: 80%;
    display: flex;
    align-items: center;
    column-gap: .3em;
}

.video-caption{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    max-width: 100%;
}

.video-caption span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-block picture {
    display: flex;
    position: relative;
    max-width: 100%;
    height: 100%;
}
.video-block picture img {
    max-width: 100%;
}

.video-block-about-left-side img{
    border-radius: 50%;
}

.video-block-about-right-side{
    display: flex;
    align-items: center;
}

.video-author-name{
    color: rgb(100, 98, 98);
    font-size: 0.7em;
    font-weight: bold;
}

.video-block picture::after {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 5px;
    content: '3:25';
    color: white;
    background: rgba(0,0,0,.5);
    padding: 2px;
    border-radius: 1px;
}

.video-block picture:after:hover{
    cursor: pointer;
}


.video-block picture:hover .video-hover-overlay {
    background: rgba(0,0,0,.5);
    color: white;
}

.video-hover-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    color: transparent;
    transition: all 1s ease;
}

.video-hover-overlay i {
    cursor: pointer;
    transition: opacity .5s ease-out;
}

.video-hover-overlay i:hover {
    opacity: .75;
}